@use './partials/vars' as *;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/montserrat/index.css';
@import 'node_modules/@fontsource/montserrat/700.css';

body{
    font-family: "Montserrat", sans-serif;
    /*background: linear-gradient(
        #2e3a46,
        #455769,
    );*/
    background-image: url(../src/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    color: $font-main-color;
}

img{
    max-width: 100%;
}
